:root {--text-color: #000;
--hero-text: #fff;
--title:#212121;
--background-color: #fff;
--background-secondary: #E5E5E5;
--brand-color:#2196F3; 
--button-color:#F5F4FA;
--secondary-text: #757575;
--hero-footer-bg: #2F303A;}
body {
    font-family: 'Roboto', 'Raleway',
    sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
/* <--Header--> */
.header {width: 1600px;
height: 80px;
background-color: var(--background-color);
}
.logo-links {position: absolute;
width: 145px;
height: 31px;
margin-left: 215px;
margin-top: 24px;
margin-bottom: 25px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-color);
text-decoration: none;}
.style-web {color: var(--brand-color);}
li {list-style: none;}
.links {margin-left: 453px;
margin-top: 32px;
display: flex;
justify-content: space-between;
flex-direction: row;
position: absolute;
width: 294px;
height: 16px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}

.link {text-decoration: none;
color: var(--text-color);}
.link:hover,
.link:focus {
color: var(--brand-color);
}
.contacts{
display: flex;
flex-direction: row;

}
.mail{margin-top: 32px;
margin-bottom: 32px;
margin-left: 1078px;
display: flex;
justify-content: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}
.tel {margin-top: 32px;
margin-bottom: 32px;
margin-left: 50px;
position: absolute;
width: 122px;
height: 16px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text);}
/* <--Main--> */
.main {position: absolute;
width: 1600px;
height: 600px;
background-color: var(--hero-footer-bg);
}
/* <--Hero--> */
.hero-text{position: absolute;
width: 696px;
height: 120px;
margin-left: 452px;
padding-top: 200px;
color: var(--button-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;}
/* bg */
.button {position: absolute;
width: 200px;
height: 50px;
margin-left: 700px;
margin-top: 430px;
background: var(--button-color);
box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.button:hover,
.button:focus {background-color: var(--brand-color);
    color: var(--hero-text); cursor: pointer;}
/* Feature */
.feature {position: absolute;
width: 1170px;
height: 101px;
margin-top: 774px;
display: flex;
justify-content: center;
margin-left: 215px;

}
.hiden {opacity: 0;}
.feature-list {

display: flex;
flex-direction: row;
}
.feature-item{
width: 270px;
height: 101px;
display: inline;
flex-direction: row;
justify-content: flex-start;
margin-right: 30px;
}
.title{
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title);
}
.feature-item .title{margin-bottom: 10px;}
.text{
width: 270px;
height: 75px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text);
}
/* <--What-we-do--> */
.project {
width: 1170px;
height: 386px;
margin-left: 215px;
margin-top: 969px;
margin-bottom: 94px;
position: absolute;
}
.project-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;

text-align: center;
letter-spacing: 0.03em;
color: var(--title);
}
.project-list {
display: flex;
flex-direction: row;

padding-top: 50px;
padding-left:  0px;
}
.project-item{margin-right: 30px;
}
/* Our team */
.team {position: absolute;
width: 1600px;
height: 648px;
margin-left: 0px;
margin-top: 1449px;
padding-top: 94px;
display: flex;
justify-content: center;
background-color: var(--button-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
   margin: 0px;
    letter-spacing: 0.03em;
    color: var(--title);
    
}
.team-list{margin: 0px;
    padding-top: 94px;
    position: absolute;
    display: flex;
    flex-direction: row;
    
    
}
.team-item{width: 270px;
height: 368px;
    background-color: var(--background-color);
    margin-right: 30px;


}
.name.title, 
.position.text {
margin-top: 0px;
margin-bottom: 0px;
display: flex;
justify-content: center;
}
.name{padding-top: 30px;}
.position{padding-top: 10px;
padding-bottom: 30px;}
/* footer */
.footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    margin-top: 2097px;
    background-color: var(--hero-footer-bg);
  
}
.logo-footer{position: absolute;
width: 145px;
height: 31px;
margin-left: 215px;
margin-top: 60px;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--hero-text);
text-decoration: none;}
/* address */
.address-footer{
position: absolute;
width: 231px;
height: 17.11px;
margin-left: 215px;

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.address-list{
padding-left: 0px;
margin-top: 126px;
padding-bottom: 60px;}
.address-item>a:hover,
.address-item>a:focus {color: var(--brand-color);
}
.address-map, .address-mail, .address-tel{color: var(--hero-text);
text-decoration: none;
padding-left: 0px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
}
.address-mail,
.address-tel{font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/* PORTFOLIO */

.portfolio{position: absolute;
width: 1170px;
height: 1360px;
margin-left: 177px;
margin-top: 90px;
background-color: var(--background-secondary);}
/* filters */
.filter {padding: 0px;
width: 611px;
height: 54px;
display: flex;
margin-left: 257px;
flex-direction: row;
text-align: center;
}
.filter-item{display: inline-block;
width:20%;
}

.filter-button {
position: absolute;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;

    background: var(--button-color);
    box-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--brand-color);
    color: var(--hero-text);
    cursor: pointer;
}

/* portfolio-list */
.portfolio-list{display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
margin-top: 34px;
padding-left: 0px;
background-color: var(--background-secondary);
}
.portfolio-item{
width: 370px;
height: 404px;
padding-right: 20px;
padding-bottom: 30px;
background-color: var(--background-color);
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title);
    padding-top: 20px;
    padding-bottom: 4px;

}
.portfolio-text{font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondary-text);
margin-bottom: 50px;
}
.portfolio-title,
.portfolio-text {
margin: 0px;
padding-left: 24px;}